.app {
  position: relative;
  display: flex;
  justify-content: center;
}
.background {
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #dbdbd2;
  height: 100vh;
}

.backgroundTop {
  background-color: #009688;
  flex-grow: 0.15;
}

.app__container {
  margin-top: 5vh;
  width: 70vw;
  height: 90vh;
  z-index: 1;
  background-color: white;

  display: flex;
}

.app__containerLoader {
  height: inherit;
  width: inherit;
  position: absolute;
  z-index: 99;
  background-color: #333333cf;
  display: grid;
  place-items: center;
}

.icon {
  color: #919191;
}

.iconButton {
  padding: 5px 8px !important;
}

@media only screen and (max-width: 1000px) {
  .app__container {
    width: 90vw;
  }
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #009688;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
